.tch{
	background: url("img/tv/tch.png");
}

.tch:hover{
    box-shadow: 0px 20px 30px rgba(51, 6, 8, 0.5);
}

.klan{
	background: url("img/tv/klanhd.png");
}

.topnews{
	background: url("img/tv/topnews.png");
}

.abcnews{
	background: url("img/tv/abcnews.png");
}

.news24{
	background: url("img/tv/news24.png");
}

.oranews{
	background: url("img/tv/oranews.png");
}

.vizionplus{
	background: url("img/tv/vizionplus.png");
}

.a1report{
	background: url("img/tv/a1report.png");
}

.rtsh{
	background: url("img/tv/rtsh.png");
}

.scan{
	background: url("img/tv/scan.png");
}

.syrivision{
	background: url("img/tv/syrivision.png");
}

.ktv{
	background: url("img/tv/ktv.png");
}

.rtv{
	background: url("img/tv/rtv.png");
}

.rtk{
	background: url("img/tv/rtk.png");
}

.klankosova{
	background: url("img/tv/klankosova.png");
}

.arta{
	background: url("img/tv/arta.png");
}

.alsatm{
	background: url("img/tv/alsatm.png");
}

.folkplus{
	background: url("img/tv/folkplus.png");
}

.bbfmusic{
	background: url("img/tv/bbfmusic.png");
}

.ss{
	background: url("img/tv/supersport.png");
}

.tringsport{
	background: url("img/tv/tringsport.png");
}

.intv{
	background: url("img/tv/intv.png");
}

.expshkence{
	background: url("img/tv/expshkence.png");
}

.exphistori{
	background: url("img/tv/exphistori.png");
}

.expnatyre{
	background: url("img/tv/expnatyre.png");
}

.tringplanet{
	background: url("img/tv/tringplanet.png");
}

.filmaksion{
	background: url("img/tv/filmaksion.png");
}

.bangbang{
	background: url("img/tv/bangbang.png");
}

.cufo{
	background: url("img/tv/cufo.png");
}

.tringtring{
	background: url("img/tv/tringtring.png");
}

.tringmax{
	background: url("img/tv/tringmax.png");
}

.thd{
	background: url("img/tv/thd.png");
}

.tringshqip{
	background: url("img/tv/tringshqip.png");
}

.klan:hover{
    box-shadow: 0px 20px 30px rgba(51, 6, 8, 0.5);
}